*{
  margin: 0;
  padding: 0;
}
header{
  text-align: center;
  background-color: black;
  color: white;
}
body{
    background-color: #C6A969;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container{
  text-align: center;
  margin-top: 20px;
  height: 80vh;
  width: 45vh;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #0C0C0C;
}
.screen{
  height: 75vmin;
  width: 83vmin;
  border: 2px solid;
  border-radius: 15px;
  background-color: #FFFFEC;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 50px;
  font-weight: 700;
}
.inp_btn{
  height: 30vmin;
  width: 83vmin;
  border:none;
  background-color: #FFFFEC;
  text-align: right;
  font-size: 2.5rem;
  font-weight: 700;
}
.keyboard{
  height: 73vmin;
  width: 83vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.box{
  height: 14vmin;
  width: 19vmin;
  border-radius: 50%;
  border: none;
  background-color: #F1E4C3;
}
.all-clear{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.clear{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.result{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.divide{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.mul{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.sub{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.add{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.modules{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.dot{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
.subAdd{
    height: 14vmin;
    width: 19vmin;
    border-radius: 50%;
    border: none;
    background-color: #F1E4C3;
}
